.add-activity-page-container{
	width: 100%;
	height: 100vh;
}

form {
	width: 100%;
	margin: 0 auto;
	padding: 16px;
	background-color: #242424;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	box-sizing: border-box;
	height: calc(100vh - 40px);
	overflow-y: auto;
}

form h1 {
	text-align: center;
	margin-bottom: 8px;
	color: #ffffff;
	font-size: clamp(1.5rem, 4vw, 2rem);
}

label {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: clamp(0.9rem, 3vw, 1.2rem);
	color: #ffffff;
	font-weight: 600;
}

input[type="text"], textarea, select {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #8d8d8d;
	background-color: #333;
	color: #fff;
	font-size: 1rem;
}

textarea {
	min-height: 20vh;
	resize: vertical;
}

.form-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: auto;
}